@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.5s ease-out forwards;
}

@media (max-width: 640px) {
  /* Mobile adjustments */
  .fixed.top-4.right-4 {
    right: 2%;
    top: 2%;
  }
}
